:root {
  --surface-a: #2a323d;
  --surface-b: #20262e;
  --surface-c: rgba(255, 255, 255, 0.04);
  --surface-d: #3f4b5b;
  --surface-e: #2a323d;
  --surface-f: #2a323d;
  --text-color: rgba(255, 255, 255, 0.87);
  --text-color-secondary: rgba(255, 255, 255, 0.6);
  --primary-color: #8dd0ff;
  --primary-color-text: #151515;
  --font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --surface-0: #20262e;
  --surface-50: #363c43;
  --surface-100: #4d5158;
  --surface-200: #63676d;
  --surface-300: #797d82;
  --surface-400: #909397;
  --surface-500: #a6a8ab;
  --surface-600: #bcbec0;
  --surface-700: #d2d4d5;
  --surface-800: #e9e9ea;
  --surface-900: #fff;
  --gray-50: #e9e9ea;
  --gray-100: #d2d4d5;
  --gray-200: #bcbec0;
  --gray-300: #a6a8ab;
  --gray-400: #909397;
  --gray-500: #797d82;
  --gray-600: #63676d;
  --gray-700: #4d5158;
  --gray-800: #363c43;
  --gray-900: #20262e;
  --content-padding: 1.25rem;
  --inline-spacing: 0.5rem;
  --border-radius: 4px;
  --surface-ground: #20262e;
  --surface-section: #20262e;
  --surface-card: #2a323d;
  --surface-overlay: #2a323d;
  --surface-border: #3f4b5b;
  --surface-hover: rgba(255, 255, 255, .04);
  --maskbg: rgba(0, 0, 0, 0.4);
  --focus-ring: 0 0 0 1px #e3f3fe;
  /* added by me */
  --outline: #e3f3fe;
  --bg-info: #cce5ff;
  --border-info: solid #b8daff;
  --bg-success: #d4edda;
  --border-success: solid #c3e6cb;
  --bg-warn: var(--bg-warn);
  --border-warn: solid #ffeeba;
  --bg-error: #f8d7da;
  --border-error: solid #f5c6cb;
  --fc-highlight: #476880;
}