<p-table [value]="directoryData" responsiveLayout="scroll" selectionMode="single" [loading]="loadingData"
    [scrollable]="true" [scrollHeight]="'100%'" styleClass="h-full w-full">
    <ng-template pTemplate="header">
    </ng-template>
    <ng-template pTemplate="body" let-entry>
        <tr (dblclick)="dbClick.emit(entry)">
            <td>
                <i [ngClass]="filesHelper.getIconEntry(entry) + ' fa-xl w-2rem'"></i>
                {{ entry.name }}
            </td>
            <td>
                {{entry.createdAt | date:'dd/MM/yyyy HH:mm'}}
            </td>
            <td style="max-width:210px">
                {{ filesHelper.getByteSizeEntry(entry) }}
            </td>
        </tr>
    </ng-template>
</p-table>