<div class="loader">
    <div class="title">
        <span>Loading</span>
    </div>
    <div class="boxes">
        <div class="box">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="box">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="box">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="box">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>