<div class="flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="grid justify-content-center p-2 lg:p-0 w-screen">
        <div class="col-12 xl:col-6">
            <p-card header="Installation" styleClass="mb-3">
                <p-steps [model]="items" [readonly]="true"></p-steps>
            </p-card>
            <p-card>
                <ng-container>
                    aa
                </ng-container>
            </p-card>
        </div>
    </div>
</div>