<div class="flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%">
        <div class="col-12 xl:col-6">
            <p-card class="h-full w-full">
                <div class="text-center mb-5">
                    <span class="text-4xl">Installation</span><br />
                    <span class="">Quelques réglage avant de commencer.</span>
                </div>
                <div class="flex justify-content-center">
                    <p-button label="Commencer" [routerLink]="['/setup/steps']"></p-button>
                </div>
            </p-card>
        </div>
    </div>
</div>