<app-global-loader *ngIf="loading"></app-global-loader>
<ng-container *ngIf="!authService.connectedUser">
    <router-outlet *ngIf="!loading"></router-outlet>
</ng-container>

<ng-container *ngIf="authService.connectedUser && !loading">
    <app-header></app-header>
    <div style="min-height: calc(100vh-70px)" class="px-4">
        <ng-container *ngIf="applicationsService.currentApp; else defaultRouter">
            <div *ngFor="let app of applicationsService.applicationsTab"
                [ngClass]="{'hidden' :app.outlet !== applicationsService.currentApp.outlet}">
                <named-outlet [name]="app.outlet"></named-outlet>
            </div>
        </ng-container>
        <ng-template #defaultRouter>
            <router-outlet></router-outlet>
        </ng-template>
    </div>
</ng-container>